---
import site from "../site.config.json";
import { Icon } from "astro-icon";
---

<a alt="Home" href="/" class="text-5xl font-bold basis-1/2">{site.title}</a>
<nav class="basis-1/2 pt-2">
  <ul class="xl:text-xl flex flex-row md:gap-10 gap-5 -mb-4 lg:justify-end">
    {
      site.navigation.map((navItem) => (
        <li>
          <a href={navItem.link}>{navItem.name}</a>
        </li>
      ))
    }
    <li>
      <a href="https://github.com/kjmalek"
        ><Icon name="akar-icons:github-fill" title="github" width="24" />
      </a>
    </li>
    <li>
      <a href="mailto:kellenmalek@hotmail.com">
        <Icon name="bytesize:mail" title="mail" width="24" />
      </a>
    </li>
  </ul>
</nav>

<style>
  a:hover {
    color: rgb(78, 151, 114);
  }
</style>
