---
import site from "../data/site.json";
---

<a alt="Home" href="/" class="text-5xl font-bold basis-1/2">{site.title}</a>
<nav class="basis-1/2">
  <ul class="text-xl flex flex-row gap-10 -mb-4">
    {site.navigation.map((navItem) => (
      <li>
        <a href={navItem.link}>{navItem.name}</a>
      </li>
    ))}
  </ul>
</nav>
