---
const posts = Astro.fetchContent("../pages/posts/*.md");
---

<h1
  class="lg:text-5xl md:text-4xl text-3xl text-center pb-5 lg:pb-10 font-bold lg:mt-16 md:mt-14 sm:mt-10 mt-8"
>
  Posts
</h1>
{posts.map((post) => (
  <article class="mx-auto w-96 px-10 pb-10">
    <h2 class="lg:text-3xl text-xl font-bold hover:text-black">
      <a href={post.url}>{post.title ? post.title : "Untitled"}</a>
    </h2>
    <p>
      <time>{post.date}</time>
    </p>
    {post.description && <p class="mt-3">{post.description}</p>}
  </article>
))}
