---
import BaseHead from "../components/BaseHead.astro";
import BaseHeader from "../components/BaseHeader.astro";
import site from "../site.config.json";

const { frontmatter } = Astro.props;

const meta = {
  title: frontmatter.title ? frontmatter.title : site.title,
  description: frontmatter.description
    ? frontmatter.description
    : site.description,
  imageSrc: frontmatter.imageSrc ? frontmatter.imageSrc : site.image.src,
  imageType: frontmatter.imageType ? frontmatter.imageType : site.image.type,
  imageAlt: frontmatter.imageAlt ? frontmatter.imageAlt : site.image.alt,
  imageWidth: frontmatter.imageWidth ? frontmatter.imageWidth : 1200,
  imageHeight: frontmatter.imageHeight ? frontmatter.imageHeight : 630,
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {...meta} />
  </head>
  <body
    class="min-h-screen flex flex-col justify-stretch bg-emerald-50 max-w-screen-2xl mx-auto"
  >
    <header
      class="2xl:px-80 lg:px-40 py-6 flex lg:flex-row flex-col lg:items-end items-center lg:justify-between border-b-4"
    >
      <BaseHeader />
    </header>
    <main
      class="grow mx-auto max-w-full xl:px-80 lg:px-60 sm:px-20 px-4 lg:py-16 py-8 prose text-xl prose-a:font-bold"
    >
      <slot />
    </main>
    <footer class="max-w-full text-center text-xl py-4 border-t-4">
      <span class="bg-gray-300 p-2 rounded shadow-2xl"
        >&#xA9; 2023 {site.author}</span
      >
    </footer>
  </body>
</html>
