---
import BaseHead from "../components/BaseHead.astro";
import BaseHeader from "../components/BaseHeader.astro";
import site from "../site.config.json";

const { content } = Astro.props;

const meta = {
  title: content.title,
  description: content.description,
  imageSrc: content.imageSrc,
  imageType: content.imageType,
  imageAlt: content.imageAlt,
  imageWidth: content.imageWidth,
  imageHeight: content.imageHeight,
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {...meta} />
  </head>
  <body class="min-h-screen flex flex-col justify-between">
    <header
      class="2xl:px-80 lg:px-40 py-9 flex lg:flex-row flex-col bg-gray-200 lg:items-end items-center lg:justify-between"
    >
      <BaseHeader />
    </header>
    <main
      class="mx-auto max-w-full xl:px-80 lg:px-60 sm:px-20 px-4 lg:py-16 py-8 prose text-gray-100 text-xl prose-headings:text-gray-200 prose-a:text-gray-200 prose-a:font-bold"
    >
      <slot />
    </main>
    <footer class="max-w-full text-center text-xl py-8">
      &#xA9; 2023 {site.author}
    </footer>
  </body>
</html>
